.App{
  max-width: 1300px;
  width: 90vw;
  padding: 3rem 0;
}

h1{
  margin: 0;
  margin-bottom: 3rem;
}

h3{
  margin-top: 3rem;
  margin-bottom: 0;
}

p{
  margin-top: 1rem;
  margin-bottom: .5rem;
}